<div [ngClass]="(translate.currentLang==='ar')?'ar':''" class="cot">
  <div class="timer">
    <h4> Count down timer </h4>
    <span id="days"> {{daysToDday}} </span>Day(s)
    <span id="hours"> {{hoursToDday}} </span>Hrs 
    <span id="minutes"> {{minutesToDday}} </span>Min
    <span id="seconds"> {{secondsToDday}} </span>S
  </div>
  <div class="home">
    <h1 [ngClass]="(translate.currentLang==='ar')?'ar':''">{{"HOME" | translate}}</h1>
    <h1 [ngClass]="(translate.currentLang==='ar')?'ar':''">{{"ADMIN.HOME" | translate}}</h1>
  </div>
  <div class="btns">
    <button (click)="translate.use('ar')" *ngIf="translate.currentLang==='en'">AR</button>
    <button (click)="translate.use('en')" *ngIf="translate.currentLang==='ar'">En</button>
  
    <input placeholder="abdo">
  
  </div>
  <router-outlet></router-outlet>
  
</div>
